.PlayerBackground {
  background: rgb(26, 26, 26);
  height: 84.8vh;
  width: 49.9vw;

}

.PlayerBox {
  background-color: gray;
  height: 35vh;
  width: 35vw;
  margin: auto;
}

h1 {
  color: orange;
  text-align: center;
}

.box {
  background: rgb(60, 60, 60);
  height: 5vh;
  width: 5vw;
  margin: auto;
}