.PlayerBackground {
  background: rgb(26, 26, 26);
  height: 84.8vh;
  width: 49.9vw;

}

.PlayerBox {
  background-color: gray;
  height: 35vh;
  width: 35vw;
  margin: auto;
}

h1 {
  color: orange;
  text-align: center;
}

.CheckerBox {
  display: flex;
  background: rgb(60, 60, 60);
  height: 11.3vh;
  width: 11.4vw;
  margin: 0.2vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.TextInCheckerBox {
  color: orange;
  font-size: calc(2vw + 2vh);
}